<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="API Automation">
	
	<test name="SearchV4">
		<classes>
			<class name="com.thomsonreuters.automation.search.SearchTestV4" />
		</classes>
	</test>

	<test name="TypeAhead">
		<classes>
			<class name="com.thomsonreuters.automation.typeahead.TypeAheadTest" />
		</classes>
	</test>

	<test name="Experiment">
		<classes>
			<class name="com.thomsonreuters.automation.exp.ExperimentTest" />
		</classes>
	</test>

	<test name="Notify">
		<classes>
			<class name="com.thomsonreuters.automation.notify.NotifyTest" />
		</classes>
	</test>

	<test name="Recommend">
		<classes>
			<class name="com.thomsonreuters.automation.recommend.RecommendTest" />
		</classes>
	</test>

	<test name="IAM">
		<classes>
			<class name="com.thomsonreuters.automation.iam.IamTest" />
		</classes>
	</test>

	<test name="APPBRIDGE">
		<classes>
			<class name="com.thomsonreuters.automation.appbridge.AppBridgeTest" />
		</classes>
	</test>

	<test name="OAUTH">
		<classes>
			<class name="com.thomsonreuters.automation.oauth.OauthTest" />
		</classes>
	</test>

	<test name="ENTITLEMENT">
		<classes>
			<class name="com.thomsonreuters.automation.entitlemets.EntitlementTest" />
		</classes>
	</test>

	<test name="Profile">
		<classes>
			<class name="com.thomsonreuters.automation.profile.ProfileTest" />
		</classes>
	</test>

	<!-- 
	<test name="Media">
		<classes>
			<class name="com.thomsonreuters.automation.media.MediaTest" />
		</classes>
	</test>
	 -->
	 
	<test name="Follow">
		<classes>
			<class name="com.thomsonreuters.automation.follow.FollowTest" />
		</classes>
	</test>

	
	<test name="Watchlist">
		<classes>
			<class name="com.thomsonreuters.automation.watchlist.WatchlistContainerTest" />
		</classes>
	</test>
	
	<test name="Groups">
		<classes>
			<class name="com.thomsonreuters.automation.groups.GroupsTest" />
		</classes>
	</test>
	 
	<test name="Projects">
		<classes>
			<class name="com.thomsonreuters.automation.project.ProjectContainerTest" />
		</classes>
	</test>
 	
	<test name="Authoring">
		<classes>
			<class name="com.thomsonreuters.automation.authoring.AuthoringTest" />
		</classes>
	</test>

	<test name="Claiming">
		<classes>
			<class name="com.thomsonreuters.automation.claiming.ClaimingTest" />
		</classes>
	</test>

	<test name="Steam">
		<classes>
			<class name="com.thomsonreuters.automation.steam.SteamTest" />
		</classes>
	</test>
	
	<!-- 
	<test name="IPA">
		<classes>
			<class name="com.thomsonreuters.automation.ipa.IPATest" />
		</classes>
	</test>
	 -->
	 
	<test name="IPAContainer">
		<classes>
			<class name="com.thomsonreuters.automation.ipa.IPAContainerTest" />
		</classes>
	</test>
	
	<test name="DRAContainer">
		<classes>
			<class name="com.thomsonreuters.automation.dra.DRAContainerTest" />
		</classes>
	</test>
	
 
	<test name="Support">
		<classes>
			<class name="com.thomsonreuters.automation.support.SupportTest" />
		</classes>
	</test>
	
	<test name="DRA-SSO">
		<classes>
			<class name="com.thomsonreuters.automation.SSO.SSODRATests" />
		</classes>
	</test>
	
	
 <!--
	<test name="HealthCheck">
		<classes>
			<class name="com.thomsonreuters.automation.healthcheck.HealthCheckTest" />
		</classes>
	</test>
	 -->
</suite>